div .logo-box {
  width: 20%;	
}

a:link {
  color: #6610f2;
}

@media only screen and (max-width: 1200px){
  div .logo-box {
    width: 40%;	
    padding-top: 2%;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 500px){
  div .logo-box {
    width: 60%;	
    padding-top: 2%;
    padding-left: 2%;
  }
}

div .footer-widget {
  width: 80%;
}

div .code span {
  font-family: 'Roboto Mono';
  font-size: 16px;
  background-color: #ffffff;
  padding: 14px;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 4px 7px 29px 4px;
}

div .code {
  overflow: hidden;
  filter: drop-shadow(0 0.5rem 0.25rem rgba(0, 0, 0, 0.2));
}

div .results-container {
  padding-top: 5%;
}

div .width-over {
  flex: 0 0 50%;
  max-width: 50%;
}

.page-title-empty {
  padding: 325px 0px 260px 0px;
}

div .form-group {
  padding-top: 20px;
}